@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #a3755d;
    font-family: monospace;
    font-size: 30px
}

h1 {
   font-size: 60px; 
   background-color: #ccb481;
   color: #38200a;
   font-family: "courier new";
   font-weight: 550
}

#dynamicBooks {
    width: 400px;
    height: auto;
    max-width: 100%
}

.padded-btn {
    padding: 20px 30px
}

img {
    width: 100%;
    height: auto;
    max-width: 40vw;
    margin-left:20px;
  }